#picture {
    width: auto;
    height: 50vh;
    cursor: pointer;
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
}

#picture:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px black;
}